h1 {
    text-align: center;
}

.form {
    border: black solid 2px;
    border-radius: 10px;
}

form {
    margin: 20px;
}

table {
    width: 98% !important;
    margin: 20px;
}

.btn {
    margin: 20px;
}

.session {
    margin: 20px;
    background-color: green;
}